<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <title>{{ dbout.name }}</title>
</head>
<body style="background-color: #dd4444">
</br>
<h1>Greetings in {{ dbout.name }}</h1>
</br>
<div><text1 style="text-decoration:line-through ">{{ dbout.content }}</text1></div>
</body>
</html>
