<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <title>Add Content</title>
</head>
<body style="background-color: darkgray">
</br>
<h1>Hello!</h1>
</br>
<div>   <ul> <li><a href="./admin/newpage">Create mew page</a></li>
        <li><a href="./admin/register">Register new admin</a></li>
        <li><a href="./showdb">show database</a></li>
    </ul></div>
</body>
</html>
