<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <title>{{ dbout.name }}</title>
</head>
<body style="background-image: url(upload/first%20page/test.jpg)">
</br>
<h1>welcome to {{ dbout.name }}</h1>
</br>
<div><text1 style="font-style: italic">{{ dbout.content }}</text1></div>
</body>
</html>
